@font-face {
    font-family: "F Demi";
    src: url("f_grotesk_demi.eot");
    src: url("f_grotesk_demi.eot?#iefix") format("embedded-opentype"),
         url("f_grotesk_demi.woff2") format("woff2"),
         url("f_grotesk_demi.woff") format("woff"),
         url("f_grotesk_demi.ttf") format("ttf"),
         url("f_grotesk_demi.svg#FGroteskDemi-Regular") format("svg");
    font-style: normal;
    font-weight: demi;
}
