@font-face {
    font-family: "Futura";
    src: url("Futura.eot");
    src: url("Futura.eot?#iefix") format("embedded-opentype"),
         url("Futura.woff2") format("woff2"),
         url("Futura.woff") format("woff"),
         url("Futura.ttf") format("ttf"),
         url("Futura.svg#Futura") format("svg");
    font-style: normal;
    font-weight: normal;
}