p {
  min-height: $line-height;

  @include screen-size('small') {
    min-height: $line-height-s;
  }
}

* {
  &::selection {
    color: $theme-r;
    background: transparent;
    text-shadow: 0 0 2px $white;
  }
}

 a {
  color: $white;
  text-decoration: none;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $white;
  }

  &:active {
    color: $white;
  }
}
